html {
  scroll-behavior: smooth;
}

.hblink {
  text-decoration: none;
  color: #8b8c8f;
  transition: color 0.5s;
  line-height: 5vw;
}
.hblink:hover {
  color: #b3b3b5;
}

#homepagebackground {
  width: 100%;
  margin-bottom: -4px;
  border: 0;
  position: relative;
  cursor: default;
}

body {
  background-color: #181818;
  margin: 0;
  padding: 0;
}

#banneri,
#bannerd,
#bannerk {
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  letter-spacing: 0.1vw;
  text-align: center;
  background-image: url("img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-color: #212121;
  color: #ababab;
  padding: 0.6%;
  margin: 0;
  border: 0;
  border: none !important;
}
#bannerd {
  background-image: url("img/bannerd.jpg");
}

#contact_icon {
  width: 2vw;
  z-index: 1;
  position: absolute;
  top: 2vw;
  right: 1.5vw;
  opacity: 60%;
  transition: all 0.4s;
}
#contact_icon:hover {
  opacity: 100%;
}

#contact_info {
  opacity: 100%;
  display: none;
  position: absolute;
  top: 3vw;
  font-size: 1vw;
  right: -1vw;
  text-align: right;
  padding: 0.8vw;
  background-color: #dbdbdb;
}

#contact_info a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #414149;
}
#contact_info h1 {
  font-size: 1.2vw;
  color: #414149;
  font-weight: 1200;
}

#contact_icon:hover #contact_info {
  display: block;
  opacity: 100%;
}

#homepagebannerlinks {
  float: left;
  top: 34vw;
  font-family: "Teko", sans-serif;
  padding-left: 5.35%;
  font-size: 2vw;
  position: absolute;
}

#dots {
  float: left;
  top: 34vw;
  padding-left: 3.35%;
  font-size: 1vw;
  position: absolute;
  color: #c4c5c5;
}
.dot {
  text-decoration: none;
  color: #8b8c8f;
  line-height: 5vw;
  pointer-events: none;
}

#gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#imglink {
  width: 100%;
  height: 100%;
}
.galleryhorizontal {
  width: 50%;
  transition: opacity 0.8s;
}

.galleryvertical {
  width: 25%;
  transition: opacity 0.8s;
}
.gallerythumbnail {
  width: 100%;
  transition: opacity 0.8s;
}
.galleryhorizontal:hover {
  opacity: 50%;
}
.galleryvertical:hover {
  opacity: 50%;
}
.gallerythumbnail:hover {
  opacity: 50%;
}

#more,
#moredes {
  display: none;
}

#show,
#showdes {
  width: 100%;
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  padding: 1vw;
  outline: none;
  border: none;
  margin: 0;
  color: #ababab;
  background-color: #212121;
  opacity: 50%;
  transition: opacity 0.5s;
  cursor: pointer;
}
#show:hover,
#showdes:hover {
  opacity: 100%;
}

a {
  border: 0;
  margin: 0;
  padding: 0;
}

#projects {
  width: 100%;
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  padding: 1vw;
  outline: none;
  margin: 0;
  color: #ababab;
  background-color: #212121;
  opacity: 50%;
  transition: opacity 0.5s;
  border: none;
  cursor: pointer;
}
#projects:hover {
  opacity: 100%;
}

.thumb_img_list {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  margin: 2vw;
  transition: 0.5s ease;
  border: none;
}

#thumb1,
#thumb2,
#thumb3 {
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

#mainImg2,
#mainImg3 {
  display: none;
}

.imgbox img {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (orientation: portrait) {
  .imgbox img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .card {
    width: 25%;
  }
  #contact_icon {
    width: 3vw;
  }
  #contact_info {
    font-size: 2vw;
    padding: 2vw;
    padding-top: 5vw;
    padding-left: 4vw;
    top: 0.8vw;
    right: -1vw;
  }

  #contact_info h1 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1030px) {
  .card {
    width: 25%;
  }
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 25vw;
  left: 50%;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.loader-wrapper {
  width: 100%;
  height: 320%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

/* KRAKENFALL PAGE CSS --------------------------------------------------------- */
:root {
  --text-color: #908769;
  --gradient: -webkit-linear-gradient(#7b6c39, #3c2f14);
}
.kraknav {
  display: none;
}
.krakenfallbody {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.krakenfallbackgroundcolor {
  background-color: #0e0e0e;
}

.thumbnailcontainer {
  display: flex;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
}
.thumbnailcontainer img {
  height: 100%;
}

.maintitle {
  margin-top: 1vh;
  margin-bottom: 0;
  font-size: 8vh;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Eczar", serif;
  font-weight: 600;
}
.maintext {
  margin-left: auto;
  margin-right: auto;
  font-family: "Amethysta", serif;
  text-align: justify;
  color: var(--text-color);
  font-size: 16px;
  padding-bottom: 1vh;
  width: 60%;
}
#quote {
  opacity: 60%;
  font-style: italic;
  font-size: 14px;
}

.decocontainerM {
  margin-top: -1vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  margin-bottom: 6vh;
  overflow: hidden;
}
#decoM {
  height: 100%;
}

.dualdeco1 {
  height: 60px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#deco1 {
  height: 100%;
}
.deco2container {
  height: 1.5vh;
  display: flex;
  justify-content: center;
  margin-bottom: 6vh;
}
#deco2 {
  height: 100%;
}

.dreadcrews {
  margin-top: 8vh;
}

.halftitle {
  text-align: center;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Eczar", serif;
  font-size: 26px;
  font-weight: 600;
  margin-top: -52px;
}

#banners {
  padding-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#banners img {
  width: 150px;
  padding-bottom: 10px;
  margin: 0;
}

.dreaddesc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
}
.onetwothreecrews,
.fourfivesixcrews {
  width: 48%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.boldtitle,
.boldtitle1,
.boldtitle2,
.boldtitle3,
.boldtitle4,
.boldtitle5,
.boldtitle6 {
  color: #4f4423;
  cursor: default;
  font-family: "Eczar", serif;
  font-size: 22px;
  font-weight: 600;
  transition: all 0.8s;
}
.crewtext {
  font-family: "Amethysta", serif;
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  text-align-last: center;
}
#GSRdot,
#ATOdot,
#TSBdot,
#SBBdot,
#TKBdot,
#TDLdot {
  font-size: 14px;
  margin: -10px;
  padding-top: 20px;
}
#GSRdot {
  color: #675c10;
}
.boldtitle1:hover {
  color: #746b33;
}
#ATOdot {
  color: #374e84;
}
.boldtitle2:hover {
  color: #28344f;
}
#TSBdot {
  color: #385215;
}
.boldtitle3:hover {
  color: #293716;
}
#SBBdot {
  color: #857d85;
}
.boldtitle4:hover {
  color: #857d85;
}
#TKBdot {
  color: #313131;
}
.boldtitle5:hover {
  color: #313131;
}
#TDLdot {
  color: #4f1426;
}
.boldtitle6:hover {
  color: #4f1426;
}

#crewtextmore1,
#crewtextmore2,
#crewtextmore3,
#crewtextmore4,
#crewtextmore5,
#crewtextmore6 {
  display: none;
}

#read {
  background-color: #2b4aa6;
}

#myBtn1,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6 {
  background: none;
  border: none;
  margin-bottom: 20px;
  color: #3a3629;
  cursor: pointer;
  outline: none;
}

.webcomics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.webcomics .crewtext {
  opacity: 50%;
}
.webcomiccontainer {
  width: 300px; /* THIS LINE CHANGES THE SIZE OF COMIC BOOK CARDS*/
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 3vw;
  position: relative;
}

#webcomic {
  width: 100%;
  display: block;
  position: relative;
}
#webcomicdata {
  display: inline-block;
  position: absolute;
  width: 100%;
  opacity: 0%;
  transition: all 0.3s;
}
.webcomiccontainer:hover #webcomicdata {
  opacity: 100%;
}

.mapcontainer {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 3vh;
}
#mapimg {
  width: 100%;
}
.linebehind,
.linebehind2 {
  background: rgb(107, 94, 50);
  background: linear-gradient(
    90deg,
    rgba(107, 94, 50, 0) 0%,
    rgba(107, 94, 50, 1) 15%,
    rgba(107, 94, 50, 1) 85%,
    rgba(107, 94, 50, 0) 100%
  );
  width: 100%;
  height: 2px;
  margin: auto;
}
.linebehind {
  margin-top: -38vw;
}
.linebehind2 {
  margin-top: 34vw;
}
.mapchapter {
}

.emptybox {
  opacity: 0%;
}

.centeredtext {
  text-align-last: center;
}
.centeredtext .maintext {
  opacity: 50%;
}
.shipmat {
  width: 60%;
  margin: auto;
}
.shipstext {
  padding-top: 50px;
}
.alignleft {
  display: flex;
  height: 250px;
}
.alignleft p,
.alignleft h1 {
  float: left;
  text-align: left;
  width: 50%;
  padding-left: 2vw;
  margin: 0;
}
.alignleft img {
  width: auto;
  height: 100%;
}

.alignright {
  display: flex;
  align-items: right;
  justify-content: right;
  height: 250px;
}
.alignright p,
.alignright h1 {
  float: right;
  text-align: right;
  width: 50%;
  padding-right: 2vw;
  margin: 0;
}
.alignright img {
  width: auto;
  height: 100%;
}
#mobileimage {
  display: none;
}

/*BESTIARY SLIDER*/

.bestcontainer {
  width: 90%;
  margin: auto;
}
.bestiary {
  display: flex;
  flex-direction: row;
  width: auto;
  overflow-x: scroll;
}
.bestcard {
  width: auto;
  height: 44vw;
  margin-right: 20px;
}
.bestcard img {
  height: 95%;
}

::-webkit-scrollbar {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 72, 38);
  background: linear-gradient(
    180deg,
    rgba(82, 72, 38, 0) 35%,
    rgba(82, 72, 38, 1) 35%,
    rgba(82, 72, 38, 1) 65%,
    rgba(82, 72, 38, 0) 65%
  );
}
::-webkit-scrollbar-thumb:vertical {
  background: rgb(82, 72, 38);
  background: linear-gradient(
    90deg,
    rgba(82, 72, 38, 0) 35%,
    rgba(82, 72, 38, 1) 35%,
    rgba(82, 72, 38, 1) 65%,
    rgba(82, 72, 38, 0) 65%
  );
}
/*BESTIARY SLIDER END*/

/*KRAKENFALL PAGE RESPONSIVENESS*/
@media screen and (max-width: 750px) {
  .bestcard {
    height: 65vw;
  }
}
@media screen and (max-width: 450px) {
  .bestcard {
    height: 137vw;
  }
}
@media screen and (orientation: portrait), screen and (max-width: 1366px) {
  h1 {
    line-height: 24px;
  }

  .shipmat {
    width: 80%;
    display: block;
  }
  .shipstext {
    padding-top: 20px;
  }
  #pcimage {
    display: none;
  }
  #mobileimage {
    display: block;
  }
  .alignleft,
  .alignright {
    width: 100%;
    display: inline-block;
  }
  .alignleft {
    justify-content: center;
    margin: auto;
  }
  .alignleft p,
  .alignleft h1 {
    width: 100%;
    float: none;
    text-align: center;
    margin: auto;
    padding-left: 0;
  }
  .alignleft p {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .alignleft img,
  .alignright img {
    width: auto;
    height: 90%;
    display: block;
    margin: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 0;
  }
  .alignright {
    justify-content: center;
    margin: auto;
  }
  .alignright p,
  .alignright h1 {
    width: 100%;
    float: none;
    text-align: center;
    margin: auto;
    padding-right: 0;
    padding-top: 0;
  }
  .alignright p {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .onetwothreecrews,
  .fourfivesixcrews {
    width: 100%;
  }
  .crewtext {
    padding-left: 10px;
    padding-right: 10px;
  }
  #GSRdot,
  #ATOdot,
  #TSBdot,
  #SBBdot,
  #TKBdot,
  #TDLdot {
    padding-top: 30px;
  }
  .emptybox {
    display: none;
  }
  .maintitle {
    font-size: 6vh;
  }
  .maintext {
    width: 90%;
  }
  .centeredtext {
    text-align-last: left;
  }
  .dreaddesc {
    width: 90%;
  }
  .dualdeco1 {
    height: 55px;
  }
  .halftitle {
    margin-top: -49px;
  }
  #banners img {
    width: 120px;
  }
}
