::-webkit-scrollbar {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: rgb(175, 174, 172);
  background: linear-gradient(
    180deg,
    rgba(82, 72, 38, 0) 15%,
    rgb(91, 91, 91) 15%,
    rgba(91, 91, 91) 85%,
    rgba(82, 72, 38, 0) 85%
  );
}
