::-webkit-scrollbar {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 72, 38);
  background: linear-gradient(
    180deg,
    rgba(82, 72, 38, 0) 35%,
    rgba(82, 72, 38, 1) 35%,
    rgba(82, 72, 38, 1) 65%,
    rgba(82, 72, 38, 0) 65%
  );
}
::-webkit-scrollbar-thumb:vertical {
  background: rgb(82, 72, 38);
  background: linear-gradient(
    90deg,
    rgba(82, 72, 38, 0) 35%,
    rgba(82, 72, 38, 1) 35%,
    rgba(82, 72, 38, 1) 65%,
    rgba(82, 72, 38, 0) 65%
  );
}
